@page "/deposit"
@using DepositUI.Components;
@using DepositUI.Enums;

<h1>Deposit Calculations</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a @onclick="Main" class="nav-link@(mode == ModeType.Main ? " active" : "")">Calculations</a>
    </li>
    <li class="nav-item">
        <a @onclick="History" class="nav-link@(mode != ModeType.Main ? " active" : "")">History</a>
    </li>
</ul>
@if (mode == ModeType.Main)
{
    <div class="row tab">
        <div class="col-4">
            <EditForm Model="@deposit" OnValidSubmit="@GetDepositCalc">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <InputNumber placeholder="Percents" id="percent" @bind-Value="deposit.Percent" /><br />
                <InputNumber placeholder="Terms" id="term" @bind-Value="deposit.Term" /><br />
                <InputNumber placeholder="Summ" id="amount" @bind-Value="deposit.Amount" /><br />

                <button type="submit">Calculate</button>
            </EditForm>
        </div>
        <div class="col-8">
            <DepositDetailsTable DepositDetails="depositDetails"> </DepositDetailsTable>
        </div>
    </div>
}
else if (mode == ModeType.History)
{
<div class="skrollable history">
    <div class="row">
        @for (int i = 0; i < columnNumber; i++)
        {
            <div class="col-3">
                @if (deposits != null)
                {
                    @for (int j = 0; j < deposits.Count / columnNumber + 1; j++)
                    {
                        if (j * 4 + i < deposits.Count)
                        {
                            var depositNumber = j * columnNumber + i;
                            <div class="deposit-block">
                                <div class="deposit-details">
                                    <div class="align-left">
                                        <span>Percent:</span><br />
                                        <span>Term:</span><br />
                                        <span>Sum:</span><br />
                                        <span>Date:</span>
                                    </div>
                                    <div class=" align-right">
                                        <span>@(deposits[depositNumber].Percent)%</span><br />
                                        <span>@(deposits[depositNumber].Term)</span><br />
                                        <span>@(deposits[depositNumber].Amount)$</span><br />
                                        <span>@(deposits[depositNumber].Date.ToString("dd.MM.yyyy"))</span>
                                    </div>
                                </div>
                                <div class="deposit-btn-cont">
                                    <button @onclick="() => Details(deposits[depositNumber].Id)" class="details-btn">See details</button>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        }
    </div>
    <button class="details-btn" @onclick="LoadMore">Load More</button>
</div>
}
else if (mode == ModeType.Details)
{
    <div class="tab">
        <DepositDetailsTable DepositDetails="depositDetails"> </DepositDetailsTable>
        <form method="get" action="@getDepostCSV">
            <input type="hidden" name="depositId" value="@depositId" />
            <button type="submit" class="submit-btn">Export to CSV</button>
        </form>
    </div>
}
